.custom-card {
  transition: border-color 0.3s ease;
}

.custom-card:hover {
  border-color: #007bff;
}

.custom-card-wrapper a {
  user-select: none;
}

.card {
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  height: 150px;
}
.card-hover:hover {
  border-color: #007bff;
}

.card-description {
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  height: 500px;
}

.card-description:hover {
  border-color: #007bff;
}
